<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
    body{
        font-family: sans-serif;
    }
    article{
      text-align: center;
    }
      </style>
  </head>
  <body>
    <article>
    	<h1>מחשב מילים לוועדות ומליאות</h1>
      <form enctype="multipart/form-data" method="post" action="/results">
        <p><em>1. בחר.י קובץ</em></p>
        <p><input type="file" name="protocol" /><br/>
        <p><em>2. שלח.י</em></p>
        <p><button role="submit">שלח</button></p>
      </form>
    </article>
  </body>
</html>
